.main_container{
  flex: 1;
  display: flex;

}

.account_header{
  display: flex;
  flex-direction: row;
}

.account_avatar{
  margin: 30px
}

.account_nickname {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.account_content{
  padding:0  30px;
}

.content_item{
  display: flex;
  padding: 20px 0;
  justify-content:space-between;
}
