@import '../../base.scss';

.scrollContainer {
  .scrollItem {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    padding: 20px;
    margin: 10px;

    .itemLeft {
      flex: 1;
    }

    .imageItem {
      width: 120px;
      height: 120px;
      border-radius: 20px;
    }
  }
}

.itemTitle {}

.timeTitle {
  color: '#9CA3AF';
  font-size: 18px;
}


.list_search {
  .field-class {
    height: 80px;

    .van-icon {
      font-size: 20px;
    }
  }
}
.van-pagination-prev,
.van-pagination-item,
.van-pagination-next {
  min-width: 30px;
  height: 30px;
}
